services:
  mongo:
    image: mongo:6
   
    restart: always
   
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: backend
    restart: always
    environment:
    
      - MONGO_URI=mongodb://mongo:27017/comp3123_assignment2
      - JWT_SECRET=supersecretjwtkey
      - PORT=5000
    ports:
      
      - "5000:5000"
    depends_on:
      - mongo
    volumes:
      
      - ./backend/uploads:/app/uploads

  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    environment:
      
      - REACT_APP_API_URL=http://localhost:5000/api
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  mongo_data:

